/**
 * Styling user web page.
 *
 * Description: This file created to add simple styles to user form and table.
 * 
 * @since 2/12/2021
 */

div {
  margin-bottom: 10px;
}
input[type="text"] {
  padding: 5px;
  border: 2px solid #cccccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
input[type="submit"] {
  padding: 5px 15px;
  background: #2fb3f0;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
table,
th,
td {
  border: 1px solid black;
}
